In [1]:
import pandas as pd
from datetime import datetime

In [19]:
data = pd.read_csv("116",sep = "\t" , header = None)
# data.head()

In [20]:
data.head()

,0,1,2,3,4,5,6,7,8,9
0,GPS,粤E19204,116,-1,113.14631,23.02181,2015-07-01 00:01:30,-1,-1,2015-07-01 00:01:34
1,GPS,粤E19207,116,-1,113.09928,23.05066,2015-07-01 00:01:30,-1,-1,2015-07-01 00:01:34
2,GPS,粤E16952,116,-1,113.14620,23.02110,2015-07-01 00:01:25,-1,-1,2015-07-01 00:01:34
3,GPS,粤E19205,116,-1,113.14623,23.02135,2015-07-01 00:01:31,-1,-1,2015-07-01 00:01:35
4,GPS,粤E17022,116,-1,113.14618,23.02138,2015-07-01 00:01:30,-1,-1,2015-07-01 00:01:35

In [38]:
bus1 = data[data[1] == "粤E19204"]
bus1 = bus1.reset_index(drop=True)

In [51]:
bus1.head()
# bus1.describe

,0,1,2,3,4,5,6,7,8,9
0,GPS,粤E19204,116,-1,113.14631,23.02181,2015-07-01 00:01:30,-1,-1,2015-07-01 00:01:34
1,GPS,粤E19204,116,-1,113.14631,23.02181,2015-07-01 00:01:35,-1,-1,2015-07-01 00:01:39
2,GPS,粤E19204,116,-1,113.14631,23.02181,2015-07-01 00:01:40,-1,-1,2015-07-01 00:01:44
3,GPS,粤E19204,116,-1,113.14631,23.02181,2015-07-01 00:01:45,-1,-1,2015-07-01 00:01:47
4,GPS,粤E19204,116,-1,113.14631,23.02181,2015-07-01 00:01:50,-1,-1,2015-07-01 00:01:54

In [50]:
# datetime.strptime()

# data[6][0]

# datetime.strptime(data[6][0],'%Y-%m-%d %H-')

# pd.to_datetime(data.loc[:1000][6])

# data[6]

bus1
not_working = []
last_loc = (bus1.loc[0][4], bus1.loc[0][5])

# last_loc
caching = []
for i in range(bus1.shape[0]):
    if bus1.loc[i][4] == last_loc[0] and bus1.loc[i][5] == last_loc[1]:
        caching.append(i)
    else:
        if len(caching) > 120:
            not_working = not_working + caching
        caching = []
        last_loc = (bus1.loc[i][4], bus1.loc[i][5])

len(not_working)
# bus1.loc[5]

# bus1.shape

# for 

# data

342658

In [52]:
caching[:10]

[498148,
 498149,
 498150,
 498151,
 498152,
 498153,
 498154,
 498155,
 498156,
 498157]